.content-section {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding-right: 159px;
    padding-left: 155px;
    background-color: #fff;
}

.content-section_theme_white {
    background-color: #fff;
    color: #000;
  }

.content-section__overlay {
    background-color: #F7F9FA;
    width: 100%;
  }
.header {
    display: flex;
    flex: 0.9;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 95px;
}

.logo {
    max-width: 106px;
    padding-top: 27px;
    margin-right: 38px;
}

.usful-links {
    display: flex;
    padding-top: 26px;
    gap:24px;
    flex:1;
}

.links {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.sign-in {
    display: flex;
    color:#0070A0;
    text-decoration: none;
    align-items: center;
    padding-right: 31px;
}

.demo-book {
    color:#fff;
    background-color: #0070A0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 6px 20px;
    border: 0;
}

.main {
    padding-top: 51px;
}
.promo {
    display: flex;
    justify-content: space-between;
}

.head-promo {
    font-family: Fraunces;
    font-size: 58px;
    font-weight: 400;
    line-height: 63.8px;
    letter-spacing: 0.2px;
    max-width: 485px;
    margin-bottom: 24px;
    padding-top: 51px;
}

.paragraph-promo {
    max-width: 351px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.promo-img {
    display: flex;
    max-width: 452px;
    padding-bottom: 92px;
}

.promo-links {
    display: flex;
}

.second-book {
    margin-top: 29px;
    margin-right: 24px;
}

.learn-more {
    display: flex;
    margin-top: 30px;
    max-width:110px;
    color:#0070A0;
    text-decoration: none;
    align-items: center;
}

.cursor {
    margin-left: 7px;
    margin-top: 2px;
    max-width: 8px;
    max-height: 17px;
}

.trusted {
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.2px;
    margin-bottom: 28px;
}

.company {
    display: flex;
    justify-content: center;
    gap:60px;
    margin-left: 25px;
}

.list-company {
    max-width: 159px;
    margin-bottom: 161px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 120px;
}

.card {
    width: 355px;
    height: 250px;
    gap: 33px;
}

.img-card {
    max-width: 55px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 5px;
}

.subtitle-card {
    font-family: "Fraunces", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-left: 32px;
    margin-bottom: 13px;
}

.text-in-card {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    max-width: 287px;
    margin-left: 32px;
}

.yellow {
    background-color:#FAEA73;
}

.blue {
    background-color: #CCEFF6;
}

.pink {
    background-color: #F7CEDC;
}
.subtitle-overlay {
    padding-left: 155px;
    padding-top: 79px;
}
.optional-subtitle {
    font-family: Fraunces;
    font-size: 42px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    max-width: 650px;
}
.optional-subtitle-second {
    font-family: Fraunces;
    font-size: 39px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.5px;
}